<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.ProdFavoriteMapper">

	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.mall.entity.po.ProdFavorite">
		<!-- 主键 -->
		<result column="favorite_id" property="favoriteId" />
		<!-- 商品ID -->
		<result column="prod_id" property="prodId" />
		<!-- 收藏时间 -->
		<result column="rec_time" property="recTime" />
		<!-- 用户ID -->
		<result column="user_id" property="userId" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="base_column_list">
		favorite_id,prod_id,rec_time,user_id
	</sql>

	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<if test="query.favoriteId != null ">
			and favorite_id = #{query.favoriteId}
		</if>
		<if test="query.prodId != null ">
			and prod_id = #{query.prodId}
		</if>
		<if test="query.recTime != null ">
			and rec_time = #{query.recTime}
		</if>
		<if test="query.userId != null and query.userId != ''">
			and user_id = #{query.userId}
		</if>
	</sql>

	<!-- 扩展查询条件 -->
	<sql id="base_query_condition_extend">
		<if test="query.recTimeStart != null and query.recTimeStart != ''">
			<![CDATA[and rec_time >= str_to_date(#{recTimeStart}, '%Y-%m-%d')]]>
		</if>
		<if test="query.recTimeEnd != null and query.recTimeEnd != ''">
			<![CDATA[and rec_time >= str_to_date(#{recTimeEnd}, '%Y-%m-%d'), internal -1 day]]>
		</if>
		<if test="query.userIdFuzzy != null and query.userIdFuzzy != ''">
			and userIdFuzzy like concat('%',#{query.userIdFuzzy}, '%')
		</if>
	</sql>


	<!-- 通用查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition" />
			<include refid="base_query_condition_extend" />
		</where>
	</sql>

	<!-- 通用查询集合 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list" />
		FROM tz_prod_favorite <include refid="query_condition" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start}, #{query.simplePage.end}</if>
	</select>

	<!-- 通用查询数量 -->
	<select id="selectCount" resultType="java.lang.Long">
		SELECT count(1) FROM tz_prod_favorite <include refid="query_condition" />
	</select>

	<!-- 单个插入（匹配有值的字段） -->
	<insert id="insert" parameterType="com.mall.entity.po.ProdFavorite">
		<selectKey keyProperty="bean.favorite_id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			INSERT INTO tz_prod_favorite
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.favoriteId != null">
				`favorite_id`,
			</if>
			<if test="bean.prodId != null">
				`prod_id`,
			</if>
			<if test="bean.recTime != null">
				`rec_time`,
			</if>
			<if test="bean.userId != null">
				`user_id`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.favoriteId != null">
				#{bean.favoriteId},
			</if>
			<if test="bean.prodId != null">
				#{bean.prodId},
			</if>
			<if test="bean.recTime != null">
				#{bean.recTime},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdate" parameterType="com.mall.entity.po.ProdFavorite">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.favoriteId != null">
				`favorite_id`,
			</if>
			<if test="bean.prodId != null">
				`prod_id`,
			</if>
			<if test="bean.recTime != null">
				`rec_time`,
			</if>
			<if test="bean.userId != null">
				`user_id`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.favoriteId != null">
				#{bean.favoriteId},
			</if>
			<if test="bean.prodId != null">
				#{bean.prodId},
			</if>
			<if test="bean.recTime != null">
				#{bean.recTime},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE 
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.prodId != null">
				`prod_id` = VALUES(`prod_id`),
			</if>
			<if test="bean.recTime != null">
				`rec_time` = VALUES(`rec_time`),
			</if>
			<if test="bean.userId != null">
				`user_id` = VALUES(`user_id`),
			</if>
		</trim>
	</insert>

	<!-- 批量插入（添加） -->
	<insert id="insertBatch" parameterType="com.mall.entity.po.ProdFavorite">
		INSERT INTO tz_prod_favorite (`prod_id`,`rec_time`,`user_id`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.prodId},#{bean.recTime},#{bean.userId})
		</foreach>
	</insert>

	<!-- 批量插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdateBatch" parameterType="com.mall.entity.po.ProdFavorite">
		INSERT INTO tz_prod_favorite (`prod_id`,`rec_time`,`user_id`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.prodId},#{bean.recTime},#{bean.userId})
		</foreach>
		ON DUPLICATE KEY UPDATE `favorite_id`=VALUES(`favorite_id`), `prod_id`=VALUES(`prod_id`), `rec_time`=VALUES(`rec_time`), `user_id`=VALUES(`user_id`)
	</insert>

	<!-- "根据"FavoriteId"查询" -->
	<select id="selectByFavoriteId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM `tz_prod_favorite` WHERE favorite_id=#{favoriteId};
	</select>

	<!-- "根据"FavoriteId"删除" -->
	<delete id="deleteByFavoriteId">
		DELETE FROM `tz_prod_favorite` WHERE favorite_id=#{favoriteId};
	</delete>

	<!-- "根据"FavoriteId"更新" -->
	<update id="updateByFavoriteId" parameterType="com.mall.entity.po.ProdFavorite">
		UPDATE `tz_prod_favorite`
		<set>
			<if test="bean.favoriteId != null">
				`favorite_id` = #{bean.favoriteId}, 
			</if>
			<if test="bean.prodId != null">
				`prod_id` = #{bean.prodId}, 
			</if>
			<if test="bean.recTime != null">
				`rec_time` = #{bean.recTime}, 
			</if>
			<if test="bean.userId != null">
				`user_id` = #{bean.userId}, 
			</if>
		</set>
		WHERE favorite_id=#{favoriteId};
	</update>

</mapper>