<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.SysMenuMapper">

	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.mall.entity.po.SysMenu">
		<!--  -->
		<result column="menu_id" property="menuId" />
		<!-- 父菜单ID，一级菜单为0 -->
		<result column="parent_id" property="parentId" />
		<!-- 菜单名称 -->
		<result column="name" property="name" />
		<!-- 菜单URL -->
		<result column="url" property="url" />
		<!-- 授权(多个用逗号分隔，如：user:list,user:create) -->
		<result column="perms" property="perms" />
		<!-- 类型   0：目录   1：菜单   2：按钮 -->
		<result column="type" property="type" />
		<!-- 菜单图标 -->
		<result column="icon" property="icon" />
		<!-- 排序 -->
		<result column="order_num" property="orderNum" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="base_column_list">
		menu_id,parent_id,name,url,perms,type,icon,order_num
	</sql>

	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<if test="query.menuId != null ">
			and menu_id = #{query.menuId}
		</if>
		<if test="query.parentId != null ">
			and parent_id = #{query.parentId}
		</if>
		<if test="query.name != null and query.name != ''">
			and name = #{query.name}
		</if>
		<if test="query.url != null and query.url != ''">
			and url = #{query.url}
		</if>
		<if test="query.perms != null and query.perms != ''">
			and perms = #{query.perms}
		</if>
		<if test="query.type != null ">
			and type = #{query.type}
		</if>
		<if test="query.icon != null and query.icon != ''">
			and icon = #{query.icon}
		</if>
		<if test="query.orderNum != null ">
			and order_num = #{query.orderNum}
		</if>
	</sql>

	<!-- 扩展查询条件 -->
	<sql id="base_query_condition_extend">
		<if test="query.nameFuzzy != null and query.nameFuzzy != ''">
			and nameFuzzy like concat('%',#{query.nameFuzzy}, '%')
		</if>
		<if test="query.urlFuzzy != null and query.urlFuzzy != ''">
			and urlFuzzy like concat('%',#{query.urlFuzzy}, '%')
		</if>
		<if test="query.permsFuzzy != null and query.permsFuzzy != ''">
			and permsFuzzy like concat('%',#{query.permsFuzzy}, '%')
		</if>
		<if test="query.iconFuzzy != null and query.iconFuzzy != ''">
			and iconFuzzy like concat('%',#{query.iconFuzzy}, '%')
		</if>
	</sql>


	<!-- 通用查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition" />
			<include refid="base_query_condition_extend" />
		</where>
	</sql>

	<!-- 通用查询集合 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list" />
		FROM tz_sys_menu <include refid="query_condition" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start}, #{query.simplePage.end}</if>
	</select>

	<!-- 通用查询数量 -->
	<select id="selectCount" resultType="java.lang.Long">
		SELECT count(1) FROM tz_sys_menu <include refid="query_condition" />
	</select>

	<!-- 单个插入（匹配有值的字段） -->
	<insert id="insert" parameterType="com.mall.entity.po.SysMenu">
		<selectKey keyProperty="bean.menu_id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			INSERT INTO tz_sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.menuId != null">
				`menu_id`,
			</if>
			<if test="bean.parentId != null">
				`parent_id`,
			</if>
			<if test="bean.name != null">
				`name`,
			</if>
			<if test="bean.url != null">
				`url`,
			</if>
			<if test="bean.perms != null">
				`perms`,
			</if>
			<if test="bean.type != null">
				`type`,
			</if>
			<if test="bean.icon != null">
				`icon`,
			</if>
			<if test="bean.orderNum != null">
				`order_num`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.menuId != null">
				#{bean.menuId},
			</if>
			<if test="bean.parentId != null">
				#{bean.parentId},
			</if>
			<if test="bean.name != null">
				#{bean.name},
			</if>
			<if test="bean.url != null">
				#{bean.url},
			</if>
			<if test="bean.perms != null">
				#{bean.perms},
			</if>
			<if test="bean.type != null">
				#{bean.type},
			</if>
			<if test="bean.icon != null">
				#{bean.icon},
			</if>
			<if test="bean.orderNum != null">
				#{bean.orderNum},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdate" parameterType="com.mall.entity.po.SysMenu">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.menuId != null">
				`menu_id`,
			</if>
			<if test="bean.parentId != null">
				`parent_id`,
			</if>
			<if test="bean.name != null">
				`name`,
			</if>
			<if test="bean.url != null">
				`url`,
			</if>
			<if test="bean.perms != null">
				`perms`,
			</if>
			<if test="bean.type != null">
				`type`,
			</if>
			<if test="bean.icon != null">
				`icon`,
			</if>
			<if test="bean.orderNum != null">
				`order_num`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.menuId != null">
				#{bean.menuId},
			</if>
			<if test="bean.parentId != null">
				#{bean.parentId},
			</if>
			<if test="bean.name != null">
				#{bean.name},
			</if>
			<if test="bean.url != null">
				#{bean.url},
			</if>
			<if test="bean.perms != null">
				#{bean.perms},
			</if>
			<if test="bean.type != null">
				#{bean.type},
			</if>
			<if test="bean.icon != null">
				#{bean.icon},
			</if>
			<if test="bean.orderNum != null">
				#{bean.orderNum},
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE 
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.parentId != null">
				`parent_id` = VALUES(`parent_id`),
			</if>
			<if test="bean.name != null">
				`name` = VALUES(`name`),
			</if>
			<if test="bean.url != null">
				`url` = VALUES(`url`),
			</if>
			<if test="bean.perms != null">
				`perms` = VALUES(`perms`),
			</if>
			<if test="bean.type != null">
				`type` = VALUES(`type`),
			</if>
			<if test="bean.icon != null">
				`icon` = VALUES(`icon`),
			</if>
			<if test="bean.orderNum != null">
				`order_num` = VALUES(`order_num`),
			</if>
		</trim>
	</insert>

	<!-- 批量插入（添加） -->
	<insert id="insertBatch" parameterType="com.mall.entity.po.SysMenu">
		INSERT INTO tz_sys_menu (`parent_id`,`name`,`url`,`perms`,`type`,`icon`,`order_num`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.parentId},#{bean.name},#{bean.url},#{bean.perms},#{bean.type},#{bean.icon},#{bean.orderNum})
		</foreach>
	</insert>

	<!-- 批量插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdateBatch" parameterType="com.mall.entity.po.SysMenu">
		INSERT INTO tz_sys_menu (`parent_id`,`name`,`url`,`perms`,`type`,`icon`,`order_num`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.parentId},#{bean.name},#{bean.url},#{bean.perms},#{bean.type},#{bean.icon},#{bean.orderNum})
		</foreach>
		ON DUPLICATE KEY UPDATE `menu_id`=VALUES(`menu_id`), `parent_id`=VALUES(`parent_id`), `name`=VALUES(`name`), `url`=VALUES(`url`), `perms`=VALUES(`perms`), `type`=VALUES(`type`), `icon`=VALUES(`icon`), `order_num`=VALUES(`order_num`)
	</insert>

	<!-- "根据"MenuId"查询" -->
	<select id="selectByMenuId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM `tz_sys_menu` WHERE menu_id=#{menuId};
	</select>

	<!-- "根据"MenuId"删除" -->
	<delete id="deleteByMenuId">
		DELETE FROM `tz_sys_menu` WHERE menu_id=#{menuId};
	</delete>

	<!-- "根据"MenuId"更新" -->
	<update id="updateByMenuId" parameterType="com.mall.entity.po.SysMenu">
		UPDATE `tz_sys_menu`
		<set>
			<if test="bean.menuId != null">
				`menu_id` = #{bean.menuId}, 
			</if>
			<if test="bean.parentId != null">
				`parent_id` = #{bean.parentId}, 
			</if>
			<if test="bean.name != null">
				`name` = #{bean.name}, 
			</if>
			<if test="bean.url != null">
				`url` = #{bean.url}, 
			</if>
			<if test="bean.perms != null">
				`perms` = #{bean.perms}, 
			</if>
			<if test="bean.type != null">
				`type` = #{bean.type}, 
			</if>
			<if test="bean.icon != null">
				`icon` = #{bean.icon}, 
			</if>
			<if test="bean.orderNum != null">
				`order_num` = #{bean.orderNum}, 
			</if>
		</set>
		WHERE menu_id=#{menuId};
	</update>

</mapper>