<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.TransfeeFreeMapper">

	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.mall.entity.po.TransfeeFree">
		<!-- 指定条件包邮项id -->
		<result column="transfee_free_id" property="transfeeFreeId" />
		<!-- 运费模板id -->
		<result column="transport_id" property="transportId" />
		<!-- 包邮方式 （0 满x件/重量/体积包邮 1满金额包邮 2满x件/重量/体积且满金额包邮） -->
		<result column="free_type" property="freeType" />
		<!-- 需满金额 -->
		<result column="amount" property="amount" />
		<!-- 包邮x件/重量/体积 -->
		<result column="piece" property="piece" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="base_column_list">
		transfee_free_id,transport_id,free_type,amount,piece
	</sql>

	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<if test="query.transfeeFreeId != null ">
			and transfee_free_id = #{query.transfeeFreeId}
		</if>
		<if test="query.transportId != null ">
			and transport_id = #{query.transportId}
		</if>
		<if test="query.freeType != null ">
			and free_type = #{query.freeType}
		</if>
		<if test="query.amount != null ">
			and amount = #{query.amount}
		</if>
		<if test="query.piece != null ">
			and piece = #{query.piece}
		</if>
	</sql>

	<!-- 扩展查询条件 -->
	<sql id="base_query_condition_extend">
	</sql>


	<!-- 通用查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition" />
			<include refid="base_query_condition_extend" />
		</where>
	</sql>

	<!-- 通用查询集合 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list" />
		FROM tz_transfee_free <include refid="query_condition" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start}, #{query.simplePage.end}</if>
	</select>

	<!-- 通用查询数量 -->
	<select id="selectCount" resultType="java.lang.Long">
		SELECT count(1) FROM tz_transfee_free <include refid="query_condition" />
	</select>

	<!-- 单个插入（匹配有值的字段） -->
	<insert id="insert" parameterType="com.mall.entity.po.TransfeeFree">
		<selectKey keyProperty="bean.transfee_free_id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			INSERT INTO tz_transfee_free
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.transfeeFreeId != null">
				`transfee_free_id`,
			</if>
			<if test="bean.transportId != null">
				`transport_id`,
			</if>
			<if test="bean.freeType != null">
				`free_type`,
			</if>
			<if test="bean.amount != null">
				`amount`,
			</if>
			<if test="bean.piece != null">
				`piece`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.transfeeFreeId != null">
				#{bean.transfeeFreeId},
			</if>
			<if test="bean.transportId != null">
				#{bean.transportId},
			</if>
			<if test="bean.freeType != null">
				#{bean.freeType},
			</if>
			<if test="bean.amount != null">
				#{bean.amount},
			</if>
			<if test="bean.piece != null">
				#{bean.piece},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdate" parameterType="com.mall.entity.po.TransfeeFree">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.transfeeFreeId != null">
				`transfee_free_id`,
			</if>
			<if test="bean.transportId != null">
				`transport_id`,
			</if>
			<if test="bean.freeType != null">
				`free_type`,
			</if>
			<if test="bean.amount != null">
				`amount`,
			</if>
			<if test="bean.piece != null">
				`piece`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.transfeeFreeId != null">
				#{bean.transfeeFreeId},
			</if>
			<if test="bean.transportId != null">
				#{bean.transportId},
			</if>
			<if test="bean.freeType != null">
				#{bean.freeType},
			</if>
			<if test="bean.amount != null">
				#{bean.amount},
			</if>
			<if test="bean.piece != null">
				#{bean.piece},
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE 
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.transportId != null">
				`transport_id` = VALUES(`transport_id`),
			</if>
			<if test="bean.freeType != null">
				`free_type` = VALUES(`free_type`),
			</if>
			<if test="bean.amount != null">
				`amount` = VALUES(`amount`),
			</if>
			<if test="bean.piece != null">
				`piece` = VALUES(`piece`),
			</if>
		</trim>
	</insert>

	<!-- 批量插入（添加） -->
	<insert id="insertBatch" parameterType="com.mall.entity.po.TransfeeFree">
		INSERT INTO tz_transfee_free (`transport_id`,`free_type`,`amount`,`piece`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.transportId},#{bean.freeType},#{bean.amount},#{bean.piece})
		</foreach>
	</insert>

	<!-- 批量插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdateBatch" parameterType="com.mall.entity.po.TransfeeFree">
		INSERT INTO tz_transfee_free (`transport_id`,`free_type`,`amount`,`piece`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.transportId},#{bean.freeType},#{bean.amount},#{bean.piece})
		</foreach>
		ON DUPLICATE KEY UPDATE `transfee_free_id`=VALUES(`transfee_free_id`), `transport_id`=VALUES(`transport_id`), `free_type`=VALUES(`free_type`), `amount`=VALUES(`amount`), `piece`=VALUES(`piece`)
	</insert>

	<!-- "根据"TransfeeFreeId"查询" -->
	<select id="selectByTransfeeFreeId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM `tz_transfee_free` WHERE transfee_free_id=#{transfeeFreeId};
	</select>

	<!-- "根据"TransfeeFreeId"删除" -->
	<delete id="deleteByTransfeeFreeId">
		DELETE FROM `tz_transfee_free` WHERE transfee_free_id=#{transfeeFreeId};
	</delete>

	<!-- "根据"TransfeeFreeId"更新" -->
	<update id="updateByTransfeeFreeId" parameterType="com.mall.entity.po.TransfeeFree">
		UPDATE `tz_transfee_free`
		<set>
			<if test="bean.transfeeFreeId != null">
				`transfee_free_id` = #{bean.transfeeFreeId}, 
			</if>
			<if test="bean.transportId != null">
				`transport_id` = #{bean.transportId}, 
			</if>
			<if test="bean.freeType != null">
				`free_type` = #{bean.freeType}, 
			</if>
			<if test="bean.amount != null">
				`amount` = #{bean.amount}, 
			</if>
			<if test="bean.piece != null">
				`piece` = #{bean.piece}, 
			</if>
		</set>
		WHERE transfee_free_id=#{transfeeFreeId};
	</update>

</mapper>