<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.UserAddrMapper">

	<!-- 实体映射 -->
	<resultMap id="base_result_map" type="com.mall.entity.po.UserAddr">
		<!-- ID -->
		<result column="addr_id" property="addrId" />
		<!-- 用户ID -->
		<result column="user_id" property="userId" />
		<!-- 收货人 -->
		<result column="receiver" property="receiver" />
		<!-- 省ID -->
		<result column="province_id" property="provinceId" />
		<!-- 省 -->
		<result column="province" property="province" />
		<!-- 城市 -->
		<result column="city" property="city" />
		<!-- 城市ID -->
		<result column="city_id" property="cityId" />
		<!-- 区 -->
		<result column="area" property="area" />
		<!-- 区ID -->
		<result column="area_id" property="areaId" />
		<!-- 邮编 -->
		<result column="post_code" property="postCode" />
		<!-- 地址 -->
		<result column="addr" property="addr" />
		<!-- 手机 -->
		<result column="mobile" property="mobile" />
		<!-- 状态,1正常，0无效 -->
		<result column="status" property="status" />
		<!-- 是否默认地址 1是 -->
		<result column="common_addr" property="commonAddr" />
		<!-- 建立时间 -->
		<result column="create_time" property="createTime" />
		<!-- 版本号 -->
		<result column="version" property="version" />
		<!-- 更新时间 -->
		<result column="update_time" property="updateTime" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="base_column_list">
		addr_id,user_id,receiver,province_id,province,city,city_id,area,area_id,post_code,addr,mobile,status,common_addr,create_time,version,update_time
	</sql>

	<!-- 基础查询条件 -->
	<sql id="base_query_condition">
		<if test="query.addrId != null ">
			and addr_id = #{query.addrId}
		</if>
		<if test="query.userId != null and query.userId != ''">
			and user_id = #{query.userId}
		</if>
		<if test="query.receiver != null and query.receiver != ''">
			and receiver = #{query.receiver}
		</if>
		<if test="query.provinceId != null ">
			and province_id = #{query.provinceId}
		</if>
		<if test="query.province != null and query.province != ''">
			and province = #{query.province}
		</if>
		<if test="query.city != null and query.city != ''">
			and city = #{query.city}
		</if>
		<if test="query.cityId != null ">
			and city_id = #{query.cityId}
		</if>
		<if test="query.area != null and query.area != ''">
			and area = #{query.area}
		</if>
		<if test="query.areaId != null ">
			and area_id = #{query.areaId}
		</if>
		<if test="query.postCode != null and query.postCode != ''">
			and post_code = #{query.postCode}
		</if>
		<if test="query.addr != null and query.addr != ''">
			and addr = #{query.addr}
		</if>
		<if test="query.mobile != null and query.mobile != ''">
			and mobile = #{query.mobile}
		</if>
		<if test="query.status != null ">
			and status = #{query.status}
		</if>
		<if test="query.commonAddr != null ">
			and common_addr = #{query.commonAddr}
		</if>
		<if test="query.createTime != null ">
			and create_time = #{query.createTime}
		</if>
		<if test="query.version != null ">
			and version = #{query.version}
		</if>
		<if test="query.updateTime != null ">
			and update_time = #{query.updateTime}
		</if>
	</sql>

	<!-- 扩展查询条件 -->
	<sql id="base_query_condition_extend">
		<if test="query.userIdFuzzy != null and query.userIdFuzzy != ''">
			and user_id like concat('%',#{query.userIdFuzzy}, '%')
		</if>
		<if test="query.receiverFuzzy != null and query.receiverFuzzy != ''">
			and receiver like concat('%',#{query.receiverFuzzy}, '%')
		</if>
		<if test="query.provinceFuzzy != null and query.provinceFuzzy != ''">
			and province like concat('%',#{query.provinceFuzzy}, '%')
		</if>
		<if test="query.cityFuzzy != null and query.cityFuzzy != ''">
			and city like concat('%',#{query.cityFuzzy}, '%')
		</if>
		<if test="query.areaFuzzy != null and query.areaFuzzy != ''">
			and area like concat('%',#{query.areaFuzzy}, '%')
		</if>
		<if test="query.postCodeFuzzy != null and query.postCodeFuzzy != ''">
			and post_code like concat('%',#{query.postCodeFuzzy}, '%')
		</if>
		<if test="query.addrFuzzy != null and query.addrFuzzy != ''">
			and addr like concat('%',#{query.addrFuzzy}, '%')
		</if>
		<if test="query.mobileFuzzy != null and query.mobileFuzzy != ''">
			and mobile like concat('%',#{query.mobileFuzzy}, '%')
		</if>
		<if test="query.createTimeStart != null and query.createTimeStart != ''">
			<![CDATA[and create_time >= str_to_date(#{createTimeStart}, '%Y-%m-%d')]]>
		</if>
		<if test="query.createTimeEnd != null and query.createTimeEnd != ''">
			<![CDATA[and create_time >= str_to_date(#{createTimeEnd}, '%Y-%m-%d'), internal -1 day]]>
		</if>
		<if test="query.updateTimeStart != null and query.updateTimeStart != ''">
			<![CDATA[and update_time >= str_to_date(#{updateTimeStart}, '%Y-%m-%d')]]>
		</if>
		<if test="query.updateTimeEnd != null and query.updateTimeEnd != ''">
			<![CDATA[and update_time >= str_to_date(#{updateTimeEnd}, '%Y-%m-%d'), internal -1 day]]>
		</if>
	</sql>


	<!-- 通用查询条件 -->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition" />
			<include refid="base_query_condition_extend" />
		</where>
	</sql>

	<!-- 通用查询集合 -->
	<select id="selectList" resultMap="base_result_map">
		SELECT <include refid="base_column_list" />
		FROM tz_user_addr <include refid="query_condition" />
		<if test="query.orderBy != null">order by ${query.orderBy}</if>
		<if test="query.simplePage != null">limit #{query.simplePage.start}, #{query.simplePage.end}</if>
	</select>

	<!-- 通用查询数量 -->
	<select id="selectCount" resultType="java.lang.Long">
		SELECT count(1) FROM tz_user_addr <include refid="query_condition" />
	</select>

	<!-- 单个插入（匹配有值的字段） -->
	<insert id="insert" parameterType="com.mall.entity.po.UserAddr">
		<selectKey keyProperty="bean.addrId" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			INSERT INTO tz_user_addr
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.addrId != null">
				`addr_id`,
			</if>
			<if test="bean.userId != null">
				`user_id`,
			</if>
			<if test="bean.receiver != null">
				`receiver`,
			</if>
			<if test="bean.provinceId != null">
				`province_id`,
			</if>
			<if test="bean.province != null">
				`province`,
			</if>
			<if test="bean.city != null">
				`city`,
			</if>
			<if test="bean.cityId != null">
				`city_id`,
			</if>
			<if test="bean.area != null">
				`area`,
			</if>
			<if test="bean.areaId != null">
				`area_id`,
			</if>
			<if test="bean.postCode != null">
				`post_code`,
			</if>
			<if test="bean.addr != null">
				`addr`,
			</if>
			<if test="bean.mobile != null">
				`mobile`,
			</if>
			<if test="bean.status != null">
				`status`,
			</if>
			<if test="bean.commonAddr != null">
				`common_addr`,
			</if>
			<if test="bean.createTime != null">
				`create_time`,
			</if>
			<if test="bean.version != null">
				`version`,
			</if>
			<if test="bean.updateTime != null">
				`update_time`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.addrId != null">
				#{bean.addrId},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.receiver != null">
				#{bean.receiver},
			</if>
			<if test="bean.provinceId != null">
				#{bean.provinceId},
			</if>
			<if test="bean.province != null">
				#{bean.province},
			</if>
			<if test="bean.city != null">
				#{bean.city},
			</if>
			<if test="bean.cityId != null">
				#{bean.cityId},
			</if>
			<if test="bean.area != null">
				#{bean.area},
			</if>
			<if test="bean.areaId != null">
				#{bean.areaId},
			</if>
			<if test="bean.postCode != null">
				#{bean.postCode},
			</if>
			<if test="bean.addr != null">
				#{bean.addr},
			</if>
			<if test="bean.mobile != null">
				#{bean.mobile},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.commonAddr != null">
				#{bean.commonAddr},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.version != null">
				#{bean.version},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
		</trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdate" parameterType="com.mall.entity.po.UserAddr">
		INSERT INTO user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.addrId != null">
				`addr_id`,
			</if>
			<if test="bean.userId != null">
				`user_id`,
			</if>
			<if test="bean.receiver != null">
				`receiver`,
			</if>
			<if test="bean.provinceId != null">
				`province_id`,
			</if>
			<if test="bean.province != null">
				`province`,
			</if>
			<if test="bean.city != null">
				`city`,
			</if>
			<if test="bean.cityId != null">
				`city_id`,
			</if>
			<if test="bean.area != null">
				`area`,
			</if>
			<if test="bean.areaId != null">
				`area_id`,
			</if>
			<if test="bean.postCode != null">
				`post_code`,
			</if>
			<if test="bean.addr != null">
				`addr`,
			</if>
			<if test="bean.mobile != null">
				`mobile`,
			</if>
			<if test="bean.status != null">
				`status`,
			</if>
			<if test="bean.commonAddr != null">
				`common_addr`,
			</if>
			<if test="bean.createTime != null">
				`create_time`,
			</if>
			<if test="bean.version != null">
				`version`,
			</if>
			<if test="bean.updateTime != null">
				`update_time`,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.addrId != null">
				#{bean.addrId},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.receiver != null">
				#{bean.receiver},
			</if>
			<if test="bean.provinceId != null">
				#{bean.provinceId},
			</if>
			<if test="bean.province != null">
				#{bean.province},
			</if>
			<if test="bean.city != null">
				#{bean.city},
			</if>
			<if test="bean.cityId != null">
				#{bean.cityId},
			</if>
			<if test="bean.area != null">
				#{bean.area},
			</if>
			<if test="bean.areaId != null">
				#{bean.areaId},
			</if>
			<if test="bean.postCode != null">
				#{bean.postCode},
			</if>
			<if test="bean.addr != null">
				#{bean.addr},
			</if>
			<if test="bean.mobile != null">
				#{bean.mobile},
			</if>
			<if test="bean.status != null">
				#{bean.status},
			</if>
			<if test="bean.commonAddr != null">
				#{bean.commonAddr},
			</if>
			<if test="bean.createTime != null">
				#{bean.createTime},
			</if>
			<if test="bean.version != null">
				#{bean.version},
			</if>
			<if test="bean.updateTime != null">
				#{bean.updateTime},
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE 
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId != null">
				`user_id` = VALUES(`user_id`),
			</if>
			<if test="bean.receiver != null">
				`receiver` = VALUES(`receiver`),
			</if>
			<if test="bean.provinceId != null">
				`province_id` = VALUES(`province_id`),
			</if>
			<if test="bean.province != null">
				`province` = VALUES(`province`),
			</if>
			<if test="bean.city != null">
				`city` = VALUES(`city`),
			</if>
			<if test="bean.cityId != null">
				`city_id` = VALUES(`city_id`),
			</if>
			<if test="bean.area != null">
				`area` = VALUES(`area`),
			</if>
			<if test="bean.areaId != null">
				`area_id` = VALUES(`area_id`),
			</if>
			<if test="bean.postCode != null">
				`post_code` = VALUES(`post_code`),
			</if>
			<if test="bean.addr != null">
				`addr` = VALUES(`addr`),
			</if>
			<if test="bean.mobile != null">
				`mobile` = VALUES(`mobile`),
			</if>
			<if test="bean.status != null">
				`status` = VALUES(`status`),
			</if>
			<if test="bean.commonAddr != null">
				`common_addr` = VALUES(`common_addr`),
			</if>
			<if test="bean.createTime != null">
				`create_time` = VALUES(`create_time`),
			</if>
			<if test="bean.version != null">
				`version` = VALUES(`version`),
			</if>
			<if test="bean.updateTime != null">
				`update_time` = VALUES(`update_time`),
			</if>
		</trim>
	</insert>

	<!-- 批量插入（添加） -->
	<insert id="insertBatch" parameterType="com.mall.entity.po.UserAddr">
		INSERT INTO tz_user_addr (`user_id`,`receiver`,`province_id`,`province`,`city`,`city_id`,`area`,`area_id`,`post_code`,`addr`,`mobile`,`status`,`common_addr`,`create_time`,`version`,`update_time`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.userId},#{bean.receiver},#{bean.provinceId},#{bean.province},#{bean.city},#{bean.cityId},#{bean.area},#{bean.areaId},#{bean.postCode},#{bean.addr},#{bean.mobile},#{bean.status},#{bean.commonAddr},#{bean.createTime},#{bean.version},#{bean.updateTime})
		</foreach>
	</insert>

	<!-- 批量插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdateBatch" parameterType="com.mall.entity.po.UserAddr">
		INSERT INTO tz_user_addr (`user_id`,`receiver`,`province_id`,`province`,`city`,`city_id`,`area`,`area_id`,`post_code`,`addr`,`mobile`,`status`,`common_addr`,`create_time`,`version`,`update_time`) VALUES 
		<foreach collection="beans" item="bean" index="index" separator=",">
			(#{bean.userId},#{bean.receiver},#{bean.provinceId},#{bean.province},#{bean.city},#{bean.cityId},#{bean.area},#{bean.areaId},#{bean.postCode},#{bean.addr},#{bean.mobile},#{bean.status},#{bean.commonAddr},#{bean.createTime},#{bean.version},#{bean.updateTime})
		</foreach>
		ON DUPLICATE KEY UPDATE `addr_id`=VALUES(`addr_id`), `user_id`=VALUES(`user_id`), `receiver`=VALUES(`receiver`), `province_id`=VALUES(`province_id`), `province`=VALUES(`province`), `city`=VALUES(`city`), `city_id`=VALUES(`city_id`), `area`=VALUES(`area`), `area_id`=VALUES(`area_id`), `post_code`=VALUES(`post_code`), `addr`=VALUES(`addr`), `mobile`=VALUES(`mobile`), `status`=VALUES(`status`), `common_addr`=VALUES(`common_addr`), `create_time`=VALUES(`create_time`), `version`=VALUES(`version`), `update_time`=VALUES(`update_time`)
	</insert>

	<!-- "根据"AddrId"查询" -->
	<select id="selectByAddrId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM `tz_user_addr` WHERE addr_id=#{addrId};
	</select>

	<!-- "根据"AddrId"删除" -->
	<delete id="deleteByAddrId">
		DELETE FROM `tz_user_addr` WHERE addr_id=#{addrId};
	</delete>

	<!-- "根据"AddrId"更新" -->
	<update id="updateByAddrId" parameterType="com.mall.entity.po.UserAddr">
		UPDATE `tz_user_addr`
		<set>
			<if test="bean.addrId != null">
				`addr_id` = #{bean.addrId}, 
			</if>
			<if test="bean.userId != null">
				`user_id` = #{bean.userId}, 
			</if>
			<if test="bean.receiver != null">
				`receiver` = #{bean.receiver}, 
			</if>
			<if test="bean.provinceId != null">
				`province_id` = #{bean.provinceId}, 
			</if>
			<if test="bean.province != null">
				`province` = #{bean.province}, 
			</if>
			<if test="bean.city != null">
				`city` = #{bean.city}, 
			</if>
			<if test="bean.cityId != null">
				`city_id` = #{bean.cityId}, 
			</if>
			<if test="bean.area != null">
				`area` = #{bean.area}, 
			</if>
			<if test="bean.areaId != null">
				`area_id` = #{bean.areaId}, 
			</if>
			<if test="bean.postCode != null">
				`post_code` = #{bean.postCode}, 
			</if>
			<if test="bean.addr != null">
				`addr` = #{bean.addr}, 
			</if>
			<if test="bean.mobile != null">
				`mobile` = #{bean.mobile}, 
			</if>
			<if test="bean.status != null">
				`status` = #{bean.status}, 
			</if>
			<if test="bean.commonAddr != null">
				`common_addr` = #{bean.commonAddr}, 
			</if>
			<if test="bean.createTime != null">
				`create_time` = #{bean.createTime}, 
			</if>
			<if test="bean.version != null">
				`version` = #{bean.version}, 
			</if>
			<if test="bean.updateTime != null">
				`update_time` = #{bean.updateTime}, 
			</if>
		</set>
		WHERE addr_id=#{addrId};
	</update>

</mapper>